.dark-theme
  .aside
    background: $dark-aside-color
    &_wrapper
      scrollbar-color: $dark-border-color $dark-aside-color
      &::-webkit-scrollbar-track
        background: $dark-aside-color
      &::-webkit-scrollbar-thumb
        background: $dark-border-color
    &_menu
      border-color: $dark-border-color
      .menu
        &_href
          color: $text-color-white
    &_login
      .login
        &_link
          color: $text-color-white
    &_review
      .review
        &_text
          color: $text-color-white