header
  background: #FFFFFF
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.13)
  display: flex
  padding: 0 40px
  height: 55px
  align-items: center
  justify-content: space-between
  .logo
    width: 14%
    margin-right: 2%
    img
      width: 124px
      height: 22px
  .toggle-version
    display: flex
    align-items: center
    height: 100%
    margin: 0 10px
    &>a
      display: flex
      justify-content: center
      align-items: center
      height: 100%
      margin-right: 12px
      &:last-child
        margin-right: 0
      &.current
        position: relative
        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 2px
          background: $second-color
  .menu
    height: 100%
    flex: 1
    display: flex
    justify-content: center
    ul
      padding: 0
      margin: 0
      height: 100%
      display: flex
      list-style: none
      li
        display: flex
        text-transform: uppercase
        color: $text-color-grey
        margin-right: 32px
        font-weight: 500
        font-size: 13px
        line-height: 16px
        &:last-child
          margin-right: 0
        &.current
          color: $text-color-dark
          position: relative
          &:after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 2px
            background: $second-color
        a
          height: 100%
          display: flex
          align-items: center
          text-align: center
          text-decoration: none
          color: inherit
  .social
    display: flex
    align-items: center
    margin-right: 44px
    a
      width: 30px
      height: 30px
      margin-right: 4px
      display: flex
      align-items: center
      justify-content: center
      &:last-child
        margin-right: 0
      img
        width: auto
        height: auto
  .user-menu
    display: flex
    align-items: center
    button
      margin-right: 12px
      border: none
      background: transparent
      cursor: pointer
      box-sizing: border-box
      &:last-child
        margin-right: 0
      &.cart
        position: relative
        span
          position: absolute
          border-radius: 50%
          background: $second-color
          top: 0
          right: 0
          width: 17px
          height: 17px
          text-align: center
          display: flex
          align-items: center
          justify-content: center
          color: $text-color-white
          font-weight: 500
          font-size: 10px
          line-height: 12px
.content
  display: flex
  aside
    background: $aside-color
    width: 16%
    .wrapper
      position: sticky
      top: 0
    .menu
      padding: 40px 20px 34px 40px
      border-bottom: 2px solid $border-color
      margin-bottom: 19px
      ul
        padding: 0
        margin: 0
        list-style: none
        li
          color: $text-color-dark
          font-weight: 500
          font-size: 13px
          line-height: 16px
          margin-bottom: 18px
          &:last-child
            margin-bottom: 0
          a
            text-decoration: none
            color: inherit
            position: relative
            width: 100%
            display: inline-block
            &:after
              content: ''
              width: 8px
              height: 15px
              position: absolute
              top: 0
              bottom: 0
              right: -5px
              background: url("../img/svg/arrow.svg") center center / 100% 100% no-repeat
    .login
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 40px
      a
        font-weight: 500
        padding: 3px
        font-size: 13px
        line-height: 16px
        text-decoration: none
        color: $text-color-dark
      span
        font-size: 13px
        line-height: 16px
        color: $text-color-grey
        margin: 0 7px
    .review
      display: flex
      flex-direction: column
      align-items: center
      .logo
        width: 118px
        height: 29px
        margin-bottom: 19px
      .rating
        width: 89px
        height: 15px
        margin-bottom: 19px
      p
        margin: 0
        font-size: 12px
        line-height: 15px
        color: $text-color-dark
  main
    width: 84%
    padding: 40px 0 100px
    box-sizing: border-box
    background: $body-color
    .top-info
      display: flex
      margin-bottom: 55px
      padding: 0 40px
      .attention
        width: calc(50% - 6.5px)
        margin-right: 6.5px
        background: url("../img/attention-slider_bg.png") center center / cover no-repeat
        border-radius: 5px
        display: flex
        align-items: center
        position: relative
        padding: 66px 42px
        .slider
          width: 100%
          height: 100%
          .slide
            height: 100%
            display: flex
            flex-direction: column
            align-items: center
            .marks
              display: flex
              justify-content: center
              align-items: center
              margin: 0 19px 24px 0
              div
                text-align: center
                text-transform: uppercase
                margin-right: 9px
                border-radius: 5px
                color: #fff
                font-size: 13px
                line-height: 11px
                padding: 5px
                min-width: 40px
                &:last-child
                  margin-right: 0
                &.hot
                  background: $hot-color
                &.time
                  background: $time-color
            .title
              font-size: 33px
              line-height: 38px
              color: #fff
              font-weight: 700
              text-align: center
              margin: 0 0 50px
            .btn
              width: 200px
              padding: 16px 30px
        .arrows
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          margin: auto
          width: 100%
          display: flex
          align-items: center
          justify-content: space-between
          user-select: none
          pointer-events: none
          .arrow
            position: relative
            cursor: pointer
            width: 25px
            height: 42px
            background: url("../img/svg/arrow.svg") center center / 100% 100% no-repeat
            user-select: auto
            pointer-events: auto
            &.prev
              left: 42px
              transform: rotate(180deg)
            &.next
              right: 42px
      .right
        width: calc(50% - 20.5px)
        margin-left: 20.5px
        display: flex
        flex-direction: column
        .block
          position: relative
          background: #FFFFFF
          box-shadow: 0 0 22px rgba(0, 0, 0, 0.07)
          border-radius: 5px
          .arrows
            position: absolute
            top: 10px
            right: 13px
            display: flex
            .arrow
              cursor: pointer
              width: 8px
              height: 15px
              padding: 5px
              background: url("../img/svg/arrow.svg") center center / 50% 50% no-repeat
              &.prev
                transform: rotate(180deg)
                margin-right: 12px
        .calendar
          padding: 12px 20px
          margin-bottom: 9px
          .slide
            display: flex
            flex-direction: column
            .date
              font-weight: 500
              font-size: 13px
              line-height: 16px
              color: $text-color-grey
              margin: 0 0 2px
            .title
              display: flex
              align-items: center
              font-weight: 500
              font-size: 16px
              line-height: 20px
              color: $text-color-dark
              margin: 0 0 8px
              p
                margin: 0
              img
                width: 35px
                height: 35px
                margin: 0 10px 0 0
            .grid
              display: grid
              grid-template-columns: repeat(5, 1fr)
              grid-auto-rows: 1fr
              grid-column-gap: 4px
              grid-row-gap: 4px
              .elem
                display: flex
                justify-content: center
                align-items: center
                border-radius: 5px
                border: 1px solid
                position: relative
                padding: 5px
                text-decoration: none
                &:before
                  content: ''
                  position: absolute
                  left: 4px
                  top: 0
                  bottom: 0
                  margin: auto
                p
                  font-weight: 500
                  font-size: 13px
                  line-height: 18px
                  text-transform: uppercase
                  color: #000
                  margin: 0 0 0 10px
                &.alliance
                  border-color: $alliance-color
                  &:before
                    width: 16px
                    height: 20px
                    background: url("../img/svg/alliance-emblem.svg") center center / 100% 100% no-repeat
                &.horde
                  border-color: $horde-color
                  &:before
                    width: 12px
                    height: 21px
                    background: url("../img/svg/horde-emblem.svg") center center / 100% 100% no-repeat
        .boost-timers
          padding: 11px 18px 22px
          h2
            margin: 0 0 16px
            font-weight: 500
            font-size: 24px
            line-height: 30px
            color: $text-color-dark
          .slider
            display: flex
            justify-content: space-between
          .slide
            display: flex
            justify-content: flex-start
            width: 48%
            .image
              width: 36%
              height: 100%
              margin-right: 12px
              object-fit: cover
              object-position: center center
              img
                width: auto
                height: auto
            .text
              width: calc(66% - 18px)
              display: flex
              flex-direction: column
              align-items: center
              justify-content: space-between
              &>p
                font-weight: 500
                font-size: 13px
                line-height: 16px
                color: $text-color-dark
                margin: 0
              .timer
                display: flex
                margin-bottom: 8px
                div
                  width: 48px
                  margin-right: 5px
                  position: relative
                  display: flex
                  flex-direction: column
                  justify-content: center
                  p
                    color: $second-color
                    margin: 0
                    font-size: 36px
                    line-height: 34px
                    text-align: center
                  span
                    color: $text-color-dark
                    font-size: 11px
                    line-height: 14px
                    text-align: center
                  &:after
                    content: ':'
                    position: absolute
                    top: 0
                    bottom: 0
                    right: -3px
                    margin: 0 auto 16px
                    display: flex
                    align-items: center
                    font-size: 14px
                  &:last-child
                    margin-right: 0
                    &:after
                      content: none
              .btn
                width: 90%
  .shop
    display: flex
    flex-direction: column
    align-items: center
    background: url("../img/shop_bg.png") right bottom / 100% auto no-repeat
    h2
      font-weight: 500
      font-size: 24px
      line-height: 30px
      color: $text-color-dark
      margin: 0 0 26px
    .list
      width: 100%
      margin-bottom: 26px
      padding: 0 40px
      box-sizing: border-box
      ul
        padding: 0
        margin: 0
        display: flex
        justify-content: space-between
        list-style: none
        li
          margin-right: 16px
          font-weight: 500
          font-size: 14px
          line-height: 18px
          color: $text-color-grey
          text-align: center
          text-transform: uppercase
          display: flex
          border-bottom: 2px solid $text-color-grey
          &.current
            border-color: $second-color
            color: $text-color-dark
          &:last-child
            margin-right: 0
          a
            padding: 8px
            text-decoration: none
            color: inherit
    .grid
      box-sizing: border-box
      padding: 0 40px
      width: 100%
      display: grid
      grid-template-columns: repeat(5,1fr)
      grid-auto-rows: 1fr
      grid-column-gap: 20px
      grid-row-gap: 35px
      .elem
        padding: 28px 35px 0
        &>a
          display: flex
          flex-direction: column
          align-items: center
          .image
            width: 120px
            height: auto
            margin-bottom: 32px
          .name
            font-weight: 500
            font-size: 13px
            line-height: 16px
            text-align: center
            color: $text-color-dark
            margin: 0 0 11px
          .price

