.my-account_main
  .my-account
    &_info
      display: grid
      grid-template-columns: 1fr 1fr
      grid-column-gap: 40px
      grid-auto-rows: 100%
      align-items: flex-start
      @media (max-width: 1280px)
        grid-template-columns: 100%
        grid-auto-rows: auto
    &_details
      display: flex
      flex-direction: column
      background: #FFFFFF
      box-shadow: 0 0 22px rgba(0, 0, 0, 0.07)
      border-radius: 5px
      padding: 32px
      box-sizing: border-box
      @media (max-width: 1280px)
        margin-bottom: 16px
      @media (max-width: 576px)
        padding: 15px
      .details
        &_title
          font-weight: 500
          font-size: 24px
          line-height: 30px
          color: $text-color-dark
          margin: 0 0 8px
        &_line
          display: flex
          margin-bottom: 24px
        &_image
          width: 48px
          height: 48px
          background: linear-gradient(135deg, #EEF7F7 0%, #CFDDDD 100%)
          display: flex
          align-items: center
          justify-content: center
          border-radius: 50%
          img
            max-width: 20px
            max-height: 20px
        &_blocks
          display: flex
          flex-wrap: wrap
          flex: 1
        &_block
          display: flex
          flex-direction: column
          padding-left: 16px
          position: relative
          border-left: 1px solid #D8D8D8
          margin-bottom: 16px
          &:first-child
            border-left: none
          &:not(:last-child)
            margin-right: 16px
          .block
            &_name
              font-weight: 500
              font-size: 12px
              line-height: 140%
              color: $text-color-grey
              margin: 0 0 8px
              text-transform: uppercase
              display: flex
              align-items: center
              img
                width: 24px
                height: 24px
                margin-right: 4px
            &_info
              font-size: 16px
              line-height: 140%
              margin: 0
              color: $text-color-dark
        &_buttons
          margin-top: 8px
          padding-top: 24px
          border-top: 1px solid #EFEFEF
          display: flex
          @media (max-width: 480px)
            flex-direction: column
          .btn
            margin-right: 16px
            padding: 16px
            @media (max-width: 480px)
              width: 100%
              margin-bottom: 10px
              &:last-child
                margin-bottom: 0
            &:last-child
              margin-right: 0
        &_btn-black
          background: $text-color-dark
          color: #FFFFFF
          width: 170px
        &_btn-white
          background: #EFEFEF
          color: $text-color-dark
          width: 100px
    &_history
      padding: 32px
      box-sizing: border-box
      background: $footer-color
      border-radius: 5px
      display: flex
      flex-direction: column
      @media (max-width: 576px)
        padding: 15px
      .history
        &_title
          font-weight: 500
          font-size: 24px
          line-height: 30px
          color: #FFFFFF
          margin: 0 0 16px
        &_show-more
          align-self: flex-start
          padding: 14px
          width: 125px
          @media (max-width: 576px)
            width: 100%


