.dark-theme
  .raid-calendar_main
    .raid-calendar
      &_top-select
        background: $dark-block-color
        .top-select
          &_info
            background-image: url("../img/top-select_info_BG-dark.png")
            .info
              &_title
                color: $text-color-white
              &_text
                color: $dark-text-color-grey