.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 724px; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1024px; } }
  @media (min-width: 1366px) {
    .container {
      max-width: 1200px; } }
  @media (min-width: 1536px) {
    .container {
      max-width: 1480px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }
  .container-fluid .container {
    padding-right: 0;
    padding-left: 0; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria/Geometria-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

body {
  font-family: Geometria; }

img {
  width: 100%;
  height: auto; }

.content {
  display: flex; }

.btn {
  background: #43C8C0;
  border-radius: 5px;
  border: none;
  padding: 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box; }

.header {
  background: #FFFFFF;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.13);
  display: flex;
  padding: 0 40px;
  height: 55px;
  align-items: center;
  justify-content: space-between; }
  .header_logo {
    width: 14%;
    margin-right: 2%; }
    .header_logo .logo_image {
      width: 124px;
      height: 22px; }
  .header_toggle-version {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 10px; }
    .header_toggle-version .toggle-version_version {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-right: 12px; }
      .header_toggle-version .toggle-version_version:last-child {
        margin-right: 0; }
      .header_toggle-version .toggle-version_version.current {
        position: relative; }
        .header_toggle-version .toggle-version_version.current:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: #43C8C0; }
  .header_menu {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center; }
    .header_menu .menu_list {
      padding: 0;
      margin: 0;
      height: 100%;
      display: flex;
      list-style: none; }
    .header_menu .menu_href {
      display: flex;
      text-transform: uppercase;
      color: #9D9EA4;
      margin-right: 32px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px; }
      .header_menu .menu_href:last-child {
        margin-right: 0; }
      .header_menu .menu_href.current {
        color: #3A3B3E;
        position: relative; }
        .header_menu .menu_href.current:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: #43C8C0; }
    .header_menu .menu_link {
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration: none;
      color: inherit; }
  .header_social {
    display: flex;
    align-items: center;
    margin-right: 44px; }
    .header_social .social_link {
      width: 30px;
      height: 30px;
      margin-right: 4px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header_social .social_link:last-child {
        margin-right: 0; }
    .header_social .social_image {
      width: auto;
      height: auto; }
  .header_user-menu {
    display: flex;
    align-items: center; }
    .header_user-menu .user-menu_button {
      margin-right: 12px;
      border: none;
      background: transparent;
      cursor: pointer;
      box-sizing: border-box; }
      .header_user-menu .user-menu_button:last-child {
        margin-right: 0; }
    .header_user-menu .user-menu_cart {
      position: relative; }
    .header_user-menu .user-menu_count {
      position: absolute;
      border-radius: 50%;
      background: #43C8C0;
      top: 0;
      right: 0;
      width: 17px;
      height: 17px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px; }

.aside {
  background: #CFDDDD;
  width: 16%; }
  .aside_wrapper {
    position: sticky;
    top: 0; }
  .aside_menu {
    padding: 40px 20px 34px 40px;
    border-bottom: 2px solid #B7C5C5;
    margin-bottom: 19px; }
    .aside_menu .menu_list {
      padding: 0;
      margin: 0;
      list-style: none; }
    .aside_menu .menu_href {
      color: #3A3B3E;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 18px; }
      .aside_menu .menu_href:last-child {
        margin-bottom: 0; }
    .aside_menu .menu_link {
      text-decoration: none;
      color: inherit;
      position: relative;
      width: 100%;
      display: inline-block; }
      .aside_menu .menu_link:after {
        content: '';
        width: 8px;
        height: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -5px;
        background: url("../img/svg/arrow.svg") center center/100% 100% no-repeat; }
  .aside_login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; }
    .aside_login .login_link {
      font-weight: 500;
      padding: 3px;
      font-size: 13px;
      line-height: 16px;
      text-decoration: none;
      color: #3A3B3E; }
    .aside_login .login_separate {
      font-size: 13px;
      line-height: 16px;
      color: #9D9EA4;
      margin: 0 7px; }
  .aside_review {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .aside_review .review_logo {
      width: 118px;
      height: 29px;
      margin-bottom: 19px; }
    .aside_review .review_rating {
      width: 89px;
      height: 15px;
      margin-bottom: 19px; }
    .aside_review .review_text {
      margin: 0;
      font-size: 12px;
      line-height: 15px;
      color: #3A3B3E; }

.index_main {
  width: 84%;
  padding: 40px 0 100px;
  box-sizing: border-box;
  background: #EFEFEF; }
  .index_main .main_top-info {
    display: flex;
    margin-bottom: 51px;
    padding: 0 40px; }
    .index_main .main_top-info .top-info_attention {
      width: calc(50% - 6.5px);
      margin-right: 6.5px;
      background: url("../img/attention-slider_bg.png") center center/cover no-repeat;
      border-radius: 5px;
      display: flex;
      align-items: center;
      position: relative;
      padding: 66px 42px; }
    .index_main .main_top-info .top-info_slider {
      width: 100%;
      height: 100%; }
      .index_main .main_top-info .top-info_slider .slider_slide {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .index_main .main_top-info .top-info_slider .slider_slide .slide_marks {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 19px 24px 0; }
        .index_main .main_top-info .top-info_slider .slider_slide .slide_mark {
          text-align: center;
          text-transform: uppercase;
          margin-right: 9px;
          border-radius: 5px;
          color: #fff;
          font-size: 13px;
          line-height: 11px;
          padding: 5px;
          min-width: 40px; }
          .index_main .main_top-info .top-info_slider .slider_slide .slide_mark:last-child {
            margin-right: 0; }
        .index_main .main_top-info .top-info_slider .slider_slide .slide_hot {
          background: #D91616; }
        .index_main .main_top-info .top-info_slider .slider_slide .slide_time {
          background: #DE7C21; }
        .index_main .main_top-info .top-info_slider .slider_slide .slide_title {
          font-size: 33px;
          line-height: 38px;
          color: #fff;
          font-weight: 700;
          text-align: center;
          margin: 0 0 50px; }
        .index_main .main_top-info .top-info_slider .slider_slide .slide_btn {
          width: 200px;
          padding: 16px 30px; }
    .index_main .main_top-info .top-info_arrows {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: none;
      pointer-events: none; }
      .index_main .main_top-info .top-info_arrows .arrows_arrow {
        position: relative;
        cursor: pointer;
        width: 25px;
        height: 42px;
        background: url("../img/svg/arrow.svg") center center/100% 100% no-repeat;
        user-select: auto;
        pointer-events: auto; }
      .index_main .main_top-info .top-info_arrows .arrows_prev {
        left: 42px;
        transform: rotate(180deg); }
      .index_main .main_top-info .top-info_arrows .arrows_next {
        right: 42px; }
    .index_main .main_top-info .top-info_right {
      width: calc(50% - 20.5px);
      margin-left: 20.5px;
      display: flex;
      flex-direction: column; }
    .index_main .main_top-info .top-info_block {
      position: relative;
      background: #FFFFFF;
      box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
      border-radius: 5px; }
      .index_main .main_top-info .top-info_block .block_arrows {
        position: absolute;
        top: 10px;
        right: 13px;
        display: flex; }
        .index_main .main_top-info .top-info_block .block_arrows .arrows_arrow {
          cursor: pointer;
          width: 8px;
          height: 15px;
          padding: 5px;
          background: url("../img/svg/arrow.svg") center center/50% 50% no-repeat; }
        .index_main .main_top-info .top-info_block .block_arrows .arrows_prev {
          transform: rotate(180deg);
          margin-right: 12px; }
    .index_main .main_top-info .top-info_calendar {
      padding: 12px 20px;
      margin-bottom: 9px; }
      .index_main .main_top-info .top-info_calendar .slider_slide {
        display: flex;
        flex-direction: column; }
        .index_main .main_top-info .top-info_calendar .slider_slide .slide_date {
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          color: #9D9EA4;
          margin: 0 0 2px; }
        .index_main .main_top-info .top-info_calendar .slider_slide .slide_title {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #3A3B3E;
          margin: 0 0 8px; }
          .index_main .main_top-info .top-info_calendar .slider_slide .slide_title .title_text {
            margin: 0; }
          .index_main .main_top-info .top-info_calendar .slider_slide .slide_title .title_image {
            width: 35px;
            height: 35px;
            margin: 0 10px 0 0; }
        .index_main .main_top-info .top-info_calendar .slider_slide .slide_grid {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-auto-rows: 1fr;
          grid-column-gap: 4px;
          grid-row-gap: 4px; }
          .index_main .main_top-info .top-info_calendar .slider_slide .slide_grid .grid_elem {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 1px solid;
            position: relative;
            padding: 5px;
            text-decoration: none; }
            .index_main .main_top-info .top-info_calendar .slider_slide .slide_grid .grid_elem:before {
              content: '';
              position: absolute;
              left: 4px;
              top: 0;
              bottom: 0;
              margin: auto; }
          .index_main .main_top-info .top-info_calendar .slider_slide .slide_grid .grid_text {
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            color: #000;
            margin: 0 0 0 10px; }
          .index_main .main_top-info .top-info_calendar .slider_slide .slide_grid .grid_alliance {
            border-color: #3E7CD9; }
            .index_main .main_top-info .top-info_calendar .slider_slide .slide_grid .grid_alliance:before {
              width: 16px;
              height: 20px;
              background: url("../img/svg/alliance-emblem.svg") center center/100% 100% no-repeat; }
          .index_main .main_top-info .top-info_calendar .slider_slide .slide_grid .grid_horde {
            border-color: #D24F58; }
            .index_main .main_top-info .top-info_calendar .slider_slide .slide_grid .grid_horde:before {
              width: 12px;
              height: 21px;
              background: url("../img/svg/horde-emblem.svg") center center/100% 100% no-repeat; }
    .index_main .main_top-info .top-info_boost-timers {
      padding: 11px 18px 22px; }
      .index_main .main_top-info .top-info_boost-timers .boost-timers_title {
        margin: 0 0 13px;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #3A3B3E;
        display: flex;
        align-items: center; }
      .index_main .main_top-info .top-info_boost-timers .boost-timers_title-image {
        width: 24px;
        height: 24px;
        margin-right: 10px; }
      .index_main .main_top-info .top-info_boost-timers .boost-timers_slider {
        display: flex;
        justify-content: space-between; }
        .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide {
          display: flex;
          justify-content: flex-start;
          width: 48%; }
          .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_image {
            width: 36%;
            height: 100%;
            margin-right: 12px;
            object-fit: cover;
            object-position: center center; }
          .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_img {
            width: auto;
            height: auto; }
          .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_text-field {
            width: calc(66% - 18px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between; }
          .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_text {
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: #3A3B3E;
            margin: 0; }
          .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_timer {
            display: flex;
            margin-bottom: 8px; }
            .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_timer div {
              width: 48px;
              margin-right: 5px;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center; }
              .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_timer div p {
                color: #43C8C0;
                margin: 0;
                font-size: 36px;
                line-height: 34px;
                text-align: center; }
              .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_timer div span {
                color: #3A3B3E;
                font-size: 11px;
                line-height: 14px;
                text-align: center; }
              .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_timer div:after {
                content: ':';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -3px;
                margin: 0 auto 16px;
                display: flex;
                align-items: center;
                font-size: 14px; }
              .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_timer div:last-child {
                margin-right: 0; }
                .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_timer div:last-child:after {
                  content: none; }
          .index_main .main_top-info .top-info_boost-timers .boost-timers_slider .slider_slide .slide_btn {
            width: 90%; }
  .index_main .main_shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/shop_bg.png") right bottom/100% auto no-repeat; }
    .index_main .main_shop .shop_title {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #3A3B3E;
      margin: 0 0 35px; }
    .index_main .main_shop .shop_menu {
      width: 100%;
      margin-bottom: 26px;
      padding: 0 60px;
      box-sizing: border-box; }
      .index_main .main_shop .shop_menu .menu_list {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style: none; }
      .index_main .main_shop .shop_menu .menu_href {
        padding: 0 0 8px;
        margin-right: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #9D9EA4;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        border-bottom: 2px solid #9D9EA4; }
        .index_main .main_shop .shop_menu .menu_href.current {
          border-color: #43C8C0;
          color: #3A3B3E; }
        .index_main .main_shop .shop_menu .menu_href:last-child {
          margin-right: 0; }
      .index_main .main_shop .shop_menu .menu_link {
        text-decoration: none;
        color: inherit; }
    .index_main .main_shop .shop_grid {
      box-sizing: border-box;
      padding: 0 40px;
      margin-bottom: 55px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 35px; }
      .index_main .main_shop .shop_grid .grid_elem {
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
        opacity: 0.9; }
        .index_main .main_shop .shop_grid .grid_elem .elem_ref {
          padding: 28px 35px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          color: #000; }
        .index_main .main_shop .shop_grid .grid_elem .elem_image {
          width: 100%;
          min-width: 120px;
          height: 0;
          padding-bottom: 100%;
          margin-bottom: 10px;
          position: relative; }
        .index_main .main_shop .shop_grid .grid_elem .elem_img {
          position: absolute;
          top: 0;
          left: 0;
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          object-position: center; }
        .index_main .main_shop .shop_grid .grid_elem .elem_name {
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          text-align: center;
          color: #3A3B3E;
          margin: 0 0 11px; }
        .index_main .main_shop .shop_grid .grid_elem .elem_price {
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;
          text-align: center;
          color: #3A3B3E;
          margin: 0 0 18px; }
        .index_main .main_shop .shop_grid .grid_elem .elem_btn {
          border-radius: 0 0 6px 6px;
          width: 100%;
          padding: 14px; }
  .index_main .main_boosting-steps {
    display: flex;
    flex-direction: column;
    padding: 0 40px; }
    .index_main .main_boosting-steps .boosting-steps_title {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #3A3B3E;
      text-align: center;
      margin: 0 0 34px; }
    .index_main .main_boosting-steps .boosting-steps_wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 45px;
      background: url("../img/boosting-steps_BG.png") center center/cover no-repeat;
      border-radius: 5px;
      padding: 85px 31px 42px; }
    .index_main .main_boosting-steps .boosting-steps_step {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      color: #fff; }
      .index_main .main_boosting-steps .boosting-steps_step:first-child .step_number {
        right: 20px; }
      .index_main .main_boosting-steps .boosting-steps_step .step_number {
        position: absolute;
        top: -43px;
        right: 0;
        width: 32px;
        height: 32px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #43C8C0;
        border-radius: 50%; }
      .index_main .main_boosting-steps .boosting-steps_step .step_image {
        width: 50px;
        height: 50px;
        margin-bottom: 7px; }
      .index_main .main_boosting-steps .boosting-steps_step .step_img {
        max-width: 100%;
        max-height: 100%; }
      .index_main .main_boosting-steps .boosting-steps_step .step_name {
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
        text-transform: uppercase;
        margin: 0 0 16px; }
      .index_main .main_boosting-steps .boosting-steps_step .step_description {
        color: #D3D4DD;
        font-size: 13px;
        line-height: 18px;
        margin: 0; }
