$second-color: #43C8C0
$dark-second-color: #F07F16
$second-color-light: #aaeae6
$dark-second-color-light: #f1ba87
$text-color-dark: #3A3B3E
$text-color-grey: #9D9EA4
$dark-text-color-grey: #D3D4DD
$text-color-white: #FFFFFF

$aside-color: #cfdddd
$dark-aside-color: #2D2F3A
$body-color: #EFEFEF
$dark-body-color: #3B3E50
$footer-color: #343A45
$dark-footer-color: #2D2F3A
$border-color: #B7C5C5
$dark-border-color: #3B3E50

$hot-color: #D91616
$time-color: #DE7C21

$alliance-color: #3E7CD9
$light-alliance-color: #73acfa
$horde-color: #D24F58
$light-horde-color: #fc7f88

$dark-block-color: #5F6274